a{ color: #55af55;
 text-decoration: none;
 font-size: 11pt;
 font-weight: bold}
a:hover {color:#ff0000;}
a.menu{color: #006000;}
a.m {
	font-weight: bold; font-size: 10pt; color: #006000; text-decoration: none
}
