<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
      <!-- Oracle
    <property name="connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
    <property name="connection.url">jdbc:oracle:thin:@192.168.26.217:1521:XE</property>
    <property name="connection.username">system</property>
    <property name="connection.password">root</property>
    <property name="connection.pool_size">10</property>
    <property name="dialect">org.hibernate.dialect.OracleDialect</property>
    <property name="show_sql">true</property>
    <property name="hbm2ddl.auto">update</property>
    <property name="hibernate.connection.autocommit">false</property>
    <property name="current_session_context_class">thread</property>
    -->

      <!-- MySQL -->
    <property name="connection.driver_class">org.gjt.mm.mysql.Driver</property>
    <property name="connection.url">jdbc:mysql://localhost/eltex_ems</property>
    <property name="connection.username">javauser</property>
    <property name="connection.password">javapassword</property>
    <property name="connection.pool_size">10</property>
    <property name="dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
    <property name="show_sql">true</property>
    <property name="hbm2ddl.auto">update</property>
    <property name="hibernate.connection.autocommit">true</property>
    <property name="current_session_context_class">thread</property>

    <!--mapping class="db.hibernate.oracleEms.TreeObject" /-->
    <mapping resource="TreeObject.hbm.xml" />

  </session-factory>
</hibernate-configuration>

        <!--

<hibernate-configuration>
<session-factory>
 <property name="connection.driver_class">org.h2.Driver</property>
 <property name="connection.url">jdbc:h2:mem:db1;DB_CLOSE_DELAY=-1;MVCC=TRUE</property>
 <property name="connection.username">sa</property>
 <property name="connection.password"/>
 <property name="connection.pool_size">1</property>
 <property name="dialect">org.hibernate.dialect.H2Dialect</property>
 <- Disable the second-level cache  ->
 <property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>
 <- Echo all executed SQL to stdout ->
 <property name="show_sql">true</property>
 <- Drop and re-create the database schema on startup ->
 <property name="hbm2ddl.auto">create</property>

 <mapping resource="org/hibernate/tutorial/hbm/Event.hbm.xml"/>
</session-factory>
</hibernate-configuration>


<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/poc</property>
    <property name="hibernate.connection.username">user</property>
    <property name="hibernate.connection.password"/>
    <mapping class="test.person" file="" jar="" package="" resource="person.hbm.xml"/>
  </session-factory>
</hibernate-configuration>



cpe.jdbc.driver=oracle.jdbc.driver.OracleDriver
cpe.jdbc.dbUrl=jdbc:oracle:thin:@192.168.26.217:1521:XE
cpe.jdbc.username=system
cpe.jdbc.password=root
cpe.jdbc.maxPoolSize=10
cpe.jdbc.inUse=yes

tree.jdbc.driver=org.gjt.mm.mysql.Driver
tree.jdbc.dbUrl=jdbc:mysql://localhost/eltex_ems?useUnicode=true&characterEncoding=utf8&relaxAutoCommit=true
tree.jdbc.username=javauser
tree.jdbc.password=javapassword
tree.jdbc.maxPoolSize=40
tree.jdbc.inUse=yes


                -->